body{
    background-color: burlywood;
}
.loading{
    font-size: 2em;
}
.hidden{
    display: none;
}
.movie{
    display: flex;
    flex-wrap: wrap;
}
.movieCard{
    border: solid 1px red;
    display: flex;
    flex-direction: column;
}
.movieCard > img{
    box-sizing: content-box;
}
.moviePoster{
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.moviePoster > img{
    width: 30%;
}